{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page</h1>
	<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source. </p>
	<p>This is a simple concept of a enterprise social network. I’ve developed it to encourage the developers of a company I worked in the past to collaborate and share experiences. It’s meant to be closed and to run inside a company.

The whole idea was to have a simple feed app in the front page, like Twitter so we could share links and post some of our thoughts and keep track of what everyone was doing.</p>
{% endblock content %}